{% extends "management_tool/base.html" %}

{% block title %}<title>Password reset confirm</title>{% endblock %}

{% block content %}
    {% if validlink %}
        <p>Please enter your new password.</p>
        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Change password" /></p>
        </form>
    {% else %}
        <h1>Failed</h1>
        <p>The password reset link was invalid. Please request a new password.</p>
    {% endif %}

{% endblock %}